@use '@carbon/react';
@use '@carbon/styles/scss/theme';
@use '@carbon/styles/scss/themes';

:root[data-carbon-theme='g100'] {
  @include theme.theme(themes.$g100);
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}
